* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  @include pxRem('padding-top', 50);
  font-family: $font-body;
  line-height: 1.6;
  font-weight: 400;
  color: map-get($colors, secondary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: map-get($colors, bg-primary);
}
a {
  text-decoration: none;
  color: map-get($colors, primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8;
  font-weight: 700;
}
h1 {
  @include pxRem('font-size', 26);
}
h2 {
  @include pxRem('font-size', 24);
}
h3 {
  @include pxRem('font-size', 22);
}
h4 {
  @include pxRem('font-size', 20);
}
h5 {
  @include pxRem('font-size', 18);
}
h6 {
  @include pxRem('font-size', 16);
}
ul, li {
  list-style: none;
}
img {
  width: 100%;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.text-small {
  @include pxRem('font-size', 12);
}
.text-center {
  text-align: center;
}
.text-gray {
  color: map-get($colors, txt-gray);
}
.avatar {
  height: 45px;
  width: 45px;
  color: white;
  border-radius: 50%;
  top: 16px;
  left: 16px;
  overflow: hidden;
  text-align: center;
}
.back-area {
  padding: 10px 15px;
  .back {
    width: 14px;
    height: 14px;
  }
}
