// === Fonts ===
$font-body: 'Open Sans', sans-serif;

// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);

// == Colors ===
$colors: (
  primary: #e67e22,
  secondary: #716c68,
  txt-dark: #333,
  txt-gray: #524e4b,
  white: #fff,
  black: #000,
  light-white: #f6f6f6,
  checkbox-bg: #f8f4f4,
  checkbox-border: #ddd,
  border: #e2e2e0,
  border-btn: #f9ba83,
  icon-arrow: #72767d,
  bg-close: #f5f5f5,
  slider-border: #d1d1d1,
  slider-bg: #f2f2f2,
  btn-close-border: #757575,
  placeholder: #a3a3a3,
  fb: #4b76d0,
  tw: #03acee,
  red-asterisk: #ff3232,
  iconf-bg: #c8c8c8,
  iconf-close: #6b6b6b,
  completed: #7bc882,
  footer-bg: #34495e,
  bg-primary: #fbf7f4
);

// For icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/fonts/icomoon" !default;

$iconf-home: "\e906";
$iconf-add: "\e907";
$iconf-list-task-2: "\e908";
$iconf-task-active: "\e909";
$iconf-task-done: "\e90b";
$iconf-list-task: "\e9bb";
$iconf-remove_done: "\e9ad";
