button {
  outline: 0;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
  }
}
.btn-select-number {
  @include pxRem(height, 24);
  @include pxRem(width, 24);
  outline: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}
.input-txt {
  @include pxRem(height, 40);
  @include pxRem(font-size, 16);
  @include pxRem(border-radius, 4);
  width: 100%;
  border: solid 1px map-get($colors, border);
}
.btn {
  @include pxRem(height, 40);
  @include pxRem(border-radius, 20);
  width: 100%;
  &.btn-primary {
    background-color: map-get($colors, primary);
    color: map-get($colors, white);
    border: 0;
  }
  &.btn-white {
    background-color: map-get($colors, white);
    color: map-get($colors, secondary);
    border: solid 1px map-get($colors, border);
  }
}
.btn-outline-primary {
  background: transparent;
  color: map-get($colors, primary);
  border: solid 1.3px map-get($colors, primary);
  &:active {
    background-color: map-get($colors, border);
  }
}
.btn-text {
  @include pxRem(padding, 11 20);
  height: auto;
  width: auto;
  border: 0;
  background: none;
  font-weight: 700;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  .btn {
    @include itemWidth(2);
    border-color: map-get($colors, border-btn);
  }
}
