[class*="icon-"] {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.iconf {
  @include pxRem(font-size, 14);
  @include pxRem(min-width, 16);
  text-align: center;
  display: inline-block;
}

// For icomoon
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6ufrm6');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6ufrm6#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6ufrm6') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6ufrm6') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6ufrm6##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconf-"], [class*=" iconf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconf-home {
  &:before {
    content: $iconf-home; 
  }
}
.iconf-add {
  &:before {
    content: $iconf-add; 
  }
}
.iconf-list-task-2 {
  &:before {
    content: $iconf-list-task-2; 
  }
}
.iconf-task-active {
  &:before {
    content: $iconf-task-active; 
  }
}
.iconf-task-done {
  &:before {
    content: $iconf-task-done; 
  }
}
.iconf-list-task {
  &:before {
    content: $iconf-list-task; 
  }
}
.iconf-remove-done {
  &:before {
    content: $iconf-remove_done; 
  }
}


.iconf {
  @include pxRem(font-size, 20);
  &.iconf-add {
    @include pxRem(font-size, 30);
  }
  &.active {
    color: map-get($colors, primary);
  }
  &:hover {
    color: map-get($colors, primary);
  }
}
