[class*='icon-'] {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-dolla {
  @include pxRem('width', 25);
  @include pxRem('height', 25);
  background: map-get($colors, primary);
  border-radius: 50%;
  text-align: center;
}
.icon-question {
  @include pxRem('width', 15);
  @include pxRem('height', 15);
  border: solid 1px map-get($colors, secondary);
  border-radius: 50%;
  cursor: pointer;
  &::after {
    content: '?';
    @include pxRem('line-height', 15);
    @include pxRem('font-size', 10);
    color: map-get($colors, secondary);
    text-align: center;
    display: block;
  }
}
.ic-triangel-down {
  position: absolute;
  &::before {
    @include pxRem('border', 5 solid transparent);
    border-top-color: map-get($colors, black);
    content: '';
    display: block;
  }
}
.ic-triangel-up {
  position: absolute;
  &::before {
    @include pxRem('border', 5 solid transparent);
    border-bottom-color: map-get($colors, black);
    content: '';
    display: block;
  }
}
.arrow {
  border: solid map-get($colors, icon-arrow);
  @include pxRem('padding', 4);
  @include pxRem('border-width', 0 2 2 0);
  display: inline-block;
  &.up {
    transform: rotate(-135deg);
  }
  &.down {
    transform: rotate(45deg);
  }
}
.ic-success {
  &::after {
    @include pxRem('width', 6);
    @include pxRem('height', 12);
    border: solid map-get($colors, black);
    @include pxRem('border-width', 0 2 2 0);
    content: '';
    display: block;
    position: relative;
    right: 0;
    transform: rotate(45deg);
  }
}

.iconf {
  @include pxRem('font-size', 14);
  @include pxRem('min-width', 16);
  text-align: center;
  display: inline-block;
}

// For icomoon
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6ufrm6');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6ufrm6#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6ufrm6') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6ufrm6') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6ufrm6##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconf-"], [class*=" iconf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconf-home {
  &:before {
    content: $iconf-home; 
  }
}
.iconf-add {
  &:before {
    content: $iconf-add; 
  }
}
.iconf-list-task-2 {
  &:before {
    content: $iconf-list-task-2; 
  }
}
.iconf-task-active {
  &:before {
    content: $iconf-task-active; 
  }
}
.iconf-task-done {
  &:before {
    content: $iconf-task-done; 
  }
}
.iconf-list-task {
  &:before {
    content: $iconf-list-task; 
  }
}
.iconf-remove-done {
  &:before {
    content: $iconf-remove_done; 
  }
}


.iconf {
  @include pxRem(font-size, 20);
  &.iconf-add {
    @include pxRem(font-size, 30);
  }
  &.active {
    color: map-get($colors, primary);
  }
  &:hover {
    color: map-get($colors, primary);
  }
}
