.todo-item {
  @include pxRem('height', 50);
  @include pxRem('padding', 0 15);
  @include pxRem('margin', 10 0);
  @include pxRem('border-radius', 5);
  @include pxRem('box-shadow', 0 4 8 0 rgba(0, 0, 0, 0.08));
  display: flex;
  align-items: center;
  background: map-get($colors, white);
  .delete-icon {
    @include pxRem('min-width', 30);
    @include pxRem('font-size', 24);
    opacity: .5;
    margin-left: auto;
    &:hover {
      opacity: 1;
    }
  }
  .todo-text {
    @include pxRem('padding', 0 10);
    @include pxRem('width', calc(100% - 15px));
    -webkit-tap-highlight-color: transparent;
    &.completed {
      text-decoration: line-through;
      color: map-get($colors, border);
    }
  }
  .checkmark {
    @include pxRem('height', 25);
    @include pxRem('width', 25);
    @include pxRem('border-radius', 4);
    @include pxRem('margin-right', 20);
    background: map-get($colors, border);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &.completed {
      background: map-get($colors, primary);
      opacity: 1;
      &::after {
        @include pxRem('left', 9);
        @include pxRem('top', 5);
        @include pxRem('width', 5);
        @include pxRem('height', 10);
        border: solid map-get($colors, white);
        @include pxRem('border-width', 0 3 3 0);
        position: absolute;
        content: '';
        display: block;
        background: map-get($colors, primary);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.todo-form {
  .form-control {
    @include pxRem('height', 50);
  }
  .btn-add {
    @include pxRem('width', 40);
    @include pxRem('height', 50);
    @include pxRem('line-height', 50);
    @include pxRem('right', 15);
    @include pxRem('font-size', 20);
    background: none;
    border: 0;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    .icon-plus {
      @include pxRem('width', 34);
      @include pxRem('height', 34);
      background: url('assets/icons/icons8-plus.svg');
      background-size: cover;
    }
  }
  .todo-input {
    @include pxRem('padding', 0 23);
  }
}
.todo-list-page {
  .todo-list {
    @include pxRem('max-height', 300);
    overflow: scroll;
  }
}
.page-footer {
  .tab-list {
    opacity: .7;
  }
  .btn-tab {
    @include pxRem('padding', 0 10);
    border: 0;
    background: none;
    border-bottom: solid;
  }
}
