.login-form {
  height: 100vh;
  .title {
    @include pxRem(height, 100);
    display: flex;
    align-items: flex-end;
  }
  .message-error {
    @include pxRem(padding, 0 10);
    @include pxRem(font-size, 12);
    text-align: center;
    color: red;
  }
  .sign-up {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    min-width: 170px;
  }
}
