.login-form {
  height: 100vh;
  .title {
    @include pxRem(height, 100);
    display: flex;
    align-items: flex-end;
  }
  .sign-up {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    min-width: 170px;
  }
  .btn-social {
    @include pxRem(height, 70);
    @include pxRem(width, 70);
    border: 0;
    background: url('https://img.icons8.com/plasticine/100/000000/facebook-new.png') center no-repeat;
    background-size: cover;
    &.google {
      background: url('https://img.icons8.com/plasticine/100/000000/google-logo.png') center no-repeat;
      background-size: cover;
    }
  }
}
