.login-form {
  height: 100vh;
  .title {
    @include pxRem(height, 100);
    display: flex;
    align-items: flex-end;
  }
  .sign-up {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    min-width: 170px;
  }
}
.message-error {
  @include pxRem(font-size, 13);
  @include pxRem(min-height, 16);
  text-align: center;
  color: red;
}
