.d-inline {
  display: inline;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none !important;
}
.d-flex {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.vertical {
    align-items: center;
  }
  &.horizontal {
    justify-content: center;
  }
}
.align-item-center {
  align-items: center;
}
.hide {
  visibility: hidden;
}
.super-hide {
  font-size: 0;
}
// Width
.w-100 {
  width: 100% !important;
}
.w-75 {
  width: 75%;
}
.w-70 {
  width: 70%;
}
.w-55 {
  width: 55%;
}
.w-50 {
  width: 50% !important;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-35 {
  width: 35%;
}
.w-30 {
  width: 30%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}

// Text
.txt-light {
  font-weight: 200;
}
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// White-space
.pre-line {
  white-space: pre-line;
}
.not-allowed {
  cursor: not-allowed;
}
.progress {
  cursor: progress;
}
.pointer {
  cursor: pointer;
}
.cursor-auto {
  cursor: auto;
}
.outline-none {
  outline: 0;
}
.border-none {
  border: 0 !important;
}
.arrow-none {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.is-relative {
  position: relative;
}
.is-absolute {
  position: absolute;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
}

.is-disabled {
  opacity: .4;
  pointer-events: none;
}

// Event
.event-none {
  pointer-events: none;
}

// Align
.left {
  float: left;
}
.right {
  float: right;
}

// Hover
.hover-primary {
  &:hover {
    color: map-get($colors, primary);
  }
}
.uppercase {
  text-transform: uppercase;
}
.uppercase-first-letter::first-letter {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.active {
  color: map-get($colors, primary) !important;
}

// Color
.color-primary {
  color: map-get($colors, primary);
}
.green {
  color: map-get($colors, green);
}
.red {
  color: map-get($colors, primary);
}
.white {
  color: map-get($colors, white);
}
.red-asterisk {
  @include pxRem('margin-right', 3);
  color: map-get($colors, red-asterisk)
}

.middle {
  vertical-align: middle;
}
// Border
.border-top {
  border-top: solid 1px map-get($colors, border);
}
.border-bottom {
  border-bottom: solid 1px map-get($colors, border);
}
// Margib
.ml-auto {
  margin-left: auto;
}
.mb-10 {
  @include pxRem("margin-bottom", 10);
}
.mb-25 {
  @include pxRem("margin-bottom", 25);
}
.mb-30 {
  @include pxRem("margin-bottom", 30);
}
.mt-5 {
  @include pxRem("margin-top", 5);
}
.mt-10 {
  @include pxRem("margin-top", 10);
}
.mt-15 {
  @include pxRem("margin-top", 15);
}
.mt-20 {
  @include pxRem("margin-top", 20);
}
.mt-25 {
  @include pxRem("margin-top", 25);
}
.mt-30 {
  @include pxRem("margin-top", 30);
}
.mt-45 {
  @include pxRem("margin-top", 45);
}
// Padding
.p-0 {
  padding: 0;
}
.p-h-10 {
  @include pxRem(padding, 0 10);
}
.pl-5 {
  @include pxRem("padding-left", 5);
}
.pl-15 {
  @include pxRem("padding-left", 15);
}
.pl-25 {
  @include pxRem("padding-left", 25);
}
.pl-45 {
  @include pxRem("padding-left", 45);
}
.pl-60 {
  @include pxRem("padding-left", 60);
}
.pr-10 {
  @include pxRem("padding-right", 10);
}
.pb-10 {
  @include pxRem("padding-bottom", 10);
}
.pb-25 {
  @include pxRem("padding-bottom", 25);
}
.p-y-10 {
  @include pxRem("padding", 10 0);
}
.pt-25 {
  @include pxRem("padding-top", 25);
}
.pt-20 {
  @include pxRem("padding-top", 20);
}
.pt-15 {
  @include pxRem("padding-top", 15);
}
.pt-10 {
  @include pxRem("padding-top", 10);
}
.clr {
  @extend %clr;
}
.disabled {
  opacity: .5;
  cursor: not-allowed;
  &:hover * {
    color: unset;
  }
}
.italic {
  font-style: italic;
}
