.page-header {
  @include pxRem(height, 90);
  background: map-get($colors, primary);
  .logo {
    @include pxRem(letter-spacing, 4);
    text-shadow: -1px -1px 1px #ececec, 1px 1px 1px #909090;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
}
