.container {
  @include pxRem(max-width, 600);
  padding: 0;
  border: 1px solid #e4e4e4;
}
.main-container {
  @include pxRem(padding, 15);
  @include pxRem(margin, 15 5);
}
.auth-pages {
  height: 100vh;
  .title {
    @include pxRem(height, 100);
    display: flex;
    align-items: flex-end;
    .flex-container {
      flex: 2 0;
    }
  }
}
.auth-container {
  @include pxRem(padding, 0 25);
  height: 100%;
}

h1 {
  @include pxRem(font-size, 40);
}
